/** {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/


.container {
    width: 800px;
}

.left {
    background-color: #f4cccc;
    text-align: center;
    width: 100px;
    height: 400px;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}

.main {
    background-color: #ffff00;
    text-align: center;
    width: 200px;
    height: 400px;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}

.right {
    background-color: #00ff00;
    text-align: center;
    width: 500px;
    height: 400px;
    float: left;
    box-sizing: border-box;
}

.description {
    margin:0px;
    padding: 50px;

    text-align: center;
    height: 200px;
    box-sizing: border-box;
}

.footer {
    background-color: #999999;
    text-align: center;
    width: 800px;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}

.login {
    align-items: center;
}

.login button {
    padding: 5px 10px;
}

input {
    margin-bottom: 10px;
}
